html {
  font-family: "Merriweather", serif;
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: Akkurat Pro;
  position: static;
  overflow-y: auto;
  width: 100%;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}

.start-screen {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  overflow: hidden;
}

.start-screen * {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1000;
  display: flex;
  padding-top: 60px;
  padding-right: 85px;
  padding-left: 85px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav {
      padding-top: 50px;
      padding-right: 55px;
      padding-left: 55px;
  }
}

.about-me {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.about-me > a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
}

.about-me-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  letter-spacing: -.5px;
}

.about-me-subtitle {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

.about-me-subtitle:hover {
  text-decoration: none;
}

.el-inline-block {
  max-width: 100%;
  display: inline-block;
}

.welcome-title-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 150px 90px;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  .welcome-title-wrapper {
      padding-right: 60px;
      padding-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  .welcome-title-wrapper {
      padding: 70px 35px 109px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .welcome-title-wrapper {
      overflow: auto;
      padding-right: 0;
      padding-bottom: 110px;
      padding-left: 20px;
  }

  .welcome-title {
    max-width: 100%!important;
    padding-right: 20px!important;
    font-size: 60px!important;
    line-height: 60px!important;
    letter-spacing: -1.8px!important;
  }
}



.welcome-title { 
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 9vw;
  line-height: 9vw;
  letter-spacing: -.2vw;
  font-weight: 700;

  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
   -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.welcome-title::selection {
  color: #fff;
}

.bottom {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding-right: 90px;
  padding-bottom: 55px;
  padding-left: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .buttom {
      padding-right: 60px;
      padding-bottom: 45px;
      padding-left: 60px;
  }
}

.color-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 30px;
  padding: 11px 60px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: transparent;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.color-button:hover {
  background-color: #000;
}

.color-button:hover .button-text {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .color-button {
      position: relative;
      height: 25px;
      font-size: 14px;
      padding-right: 40px;
      padding-left: 40px;
  }
}

.button-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-family: Playfair Display;
  src: url(/assets/fonts/playfair-display-v20-latin-regular.woff2) format("woff2"),
       url(/assets/fonts/playfair-display-v20-latin-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akkurat Light Pro;
  src: url(/assets/fonts/AkkuratLightPro-Regular.woff2) format("woff2"),
       url(/assets/fonts/AkkuratLightPro-Regular.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Maison Neue Mono;
  src: url(/assets/fonts/MaisonNeue-Mono.woff2) format("woff2"),
       url(/assets/fonts/MaisonNeue-Mono.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Format Grotesk";
  src: url(/assets/fonts/FormatGrotesk-Fett.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Format Grotesk";
  src: url(/assets/fonts/FormatGrotesk-Normal.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.works-section {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  margin-top: 100vh!important;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.icon {
  user-select: none;
}

.close-icon {
  width: 35px;
  cursor: pointer;
}

.arrow-icon {
  user-select: none;
  cursor: pointer;
  width: 5vw;
}

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 30px;
  }
  
  .subtitle {
    font-size: 15px;
  }

  .scroll-text-wrapper {
    font-size: 10px;
    -webkit-transition: translateY(-50%);
    -moz-transition: translateY(-50%);
    -o-transition: translateY(-50%);
    -ms-transition: translateY(-50%);
    transition: translateY(-50%);
  }

  .work-icon {
    font-size: 15px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  .underline {
    width: 32px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  .scroll-down:hover .underline {
    -moz-transform: translate(83px, 0px);
    -webkit-transform: translate(83px, 0px);
    -o-transform: translate(83px, 0px);
    -ms-transform: translate(83px, 0px);
    -webkit-transform: translate(83px, 0px);
    transform: translate(83px, 0px);
    width: 50px;
  
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.project-wrapper {
  width: 100%;
  height: 16.6666666667vh;
  display: block;
  cursor: pointer;
  position: relative;
}

.project-title {
  position: relative;
  padding: 0 2vw;
  cursor: pointer;
  height: 100%;
}

.project-title h2 {
  position: absolute;
  margin: 0;
  top: 50%;
  cursor: pointer;
  text-transform: uppercase;
  font: 8vw/.5em "Proper",Helvetica,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;

  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.project-title h2::selection {
  color: #fff!important;
}

.project-title:hover h2 {
  letter-spacing: 1.5vw;
}

.project-title-long:hover h2 {
  letter-spacing: 0.8vw;
}

#proj1 {
  background-color: #dadfd6;
}

#proj2 {
  background-color: #32428b;
}

#proj3 {
  background-color: #c81414;
}

#proj4 {
  background-color: #004d00;
}

#proj5 {
  background-color: #7c492d;
}

#proj6 {
  background-color: #c9b5ff;
}

.popup {
  width: 95%;
  height: 100%;
  position: fixed;
  top: 0; bottom: 0;
  right: -100%;
  transition: right 0.8s cubic-bezier(0.4, 0.82, 0.165, 1);
}

.popup-visible {
  right: 0;
}

.popup-titlebar {
  height: 40px;
  background: #ffffff;
  font-size: 22px;
  line-height: 38px;
  font-weight: bold;
  letter-spacing: -.5px;

  background-color: #c54747;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}



.popup-titlebar h2 {
  width: calc(100% - 80px);
  float: left;
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-family: Helvetica,sans-serif;
  user-select: none;
}

.popup-titlebar h2::selection {
  color: black;
}


iframe {
  border: none;
  width: 100%;
  height: calc(100% - 40px);
}

.masterclose {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.726);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all .1s ease-out;
}

.masterclose-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.noscroll {
  overflow: hidden;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  appearance: none;
  height: 100%;
  width: 40px;
  font-weight: normal;
  font-size: 25px;
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border-radius: 0px;
  padding: 0;
  outline: none;
}

.btn-back {
  font-family: Format Grotesk, sans-serif;
  float: left;
}

.btn-external {
  font-family: Format Grotesk, sans-serif;
  float: left;
}

.cf {
  display: block;
  clear: both;
}